.getintouch-section {
  padding: 20px;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getintouch-container {
  /* max-width: 800px; */
  width: calc(100% - 40px);
  border: 2px solid #ffd700;
  border-radius: 10px;
  padding: 15%;
  margin-bottom: 40px;
}

.getintouch-subtitle {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 20px;
}

.getintouch-email {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.getintouch-email a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.getintouch-email a:hover {
  color: #fff;
}

.getintouch-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.getintouch-link {
  font-size: 1rem;
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.getintouch-link:hover {
  color: #fff;
}

.getintouch-footer {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 20px;
  color: #aaa;
}

.getintouch-footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-contact {
  margin-top: 10px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .getintouch-container {
    padding: 20px;
  }

  .getintouch-email {
    font-size: 1.5rem;
  }

  .getintouch-links {
    flex-direction: column;
    gap: 15px;
  }

  .getintouch-link {
    font-size: 1rem;
  }

  .footer-contact {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .getintouch-email {
    font-size: 1.2rem;
  }

  .getintouch-subtitle {
    font-size: 1rem;
  }

  .getintouch-links {
    gap: 10px;
  }

  .getintouch-link {
    font-size: 0.9rem;
  }
}
