.experience-section {
  min-height: 100vh;
  padding: 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 40px; /* Adjust to start below the first circle */
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: calc(100% - 92px); /* Adjust to end above the last circle */
  background: white;
}
.upcoming-title {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  position: relative;
}

.upcoming-title::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.experience-container {
  position: relative;
  width: 50%;
  padding: 20px;
}

.experience-container:nth-child(odd) {
  left: 0;
}
.experience-container:nth-child(odd) .text-box {
  border-radius: 50px 0px 70px 50px;
}

.experience-container:nth-child(even) {
  left: 50%;
}

.experience-container:nth-child(even) .text-box {
  border-radius: 0px 50px 50px 70px;
}
.experience-container .company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  z-index: 10;
  border: 3px solid white;
  background: white;
  object-fit: cover;
}

.experience-container:nth-child(odd) .company-logo {
  right: -25px;
}

.experience-container:nth-child(even) .company-logo {
  left: -25px;
}

.text-box {
  margin-top: 20px;
  padding: 25px 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
}

.text-box h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.text-box small {
  color: #aaa;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.text-box p {
  margin: 0;
  line-height: 1.6;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .experience-container:nth-child(even) {
    left: 0;
  }
  .experience-container {
    width: 100%;
  }
  .timeline::before {
    display: none;
  }
}

@media (max-width: 768px) {
}
